<% @title = t("label.artists") %>
<% content_for :left_nav do %>
<div class="disbl pt10">
<ul class="nav nav-list">
  <li class="nav-header"><%= t("label.artists") %></li>
  <% @artists.each do |artist| %>
  <li><a href="<%= tracks_artist_path(artist.uqid) %>" class="lnav-menu"><span class="user-icon"><%= image_tag artist.artwork_url, :alt => artist.name %></span>
    <%= artist.name %></a></li>
  <% end %>
</ul>
</div>
<% end %>
