body {
  padding-top: 76px;
}
.pl {
  display: block;
  padding: 10px 20px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #D4D5D5;
  background-image: -moz-linear-gradient(top,#E4E5E5,#B4B5B5);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#E4E5E5),to(#B4B5B5));
  background-image: -webkit-linear-gradient(top,#E4E5E5,#B4B5B5);
  background-image: -o-linear-gradient(top,#E4E5E5,#B4B5B5);
  background-image: linear-gradient(to bottom,#E4E5E5,#B4B5B5);
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #B4B5B5 #B4B5B5 #AAAAAA;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffE4E5E5',endColorstr='#ffB4B5B5',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.pl .ctls {
  display: table;
}
.pl .ctls > div {
  display: table-cell;
  padding: 10px 0 10px 0;
}
.pl .ctls > div:first-child {
}
.pl .ctls .bt {
  border-radius: 30px;
  padding: 5px 6px 14px 6px;
  cursor: pointer;
}
.pl .ctls .bt:hover {
  background-color: #EEEEEE;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4), inset 1px 1px 1px rgba(255,255,255,0.7);
}
.mp {
  display: block;
  background-color: #E4E5E5;
  box-shadow: 0 0 12px rgba(0,0,0,0.4), inset 1px 1px 1px rgba(255,255,255,0.4);
  min-height: 600px;
}
.th .trk {
  display: table-cell;
  width: 103px;
  height: 103px;
  text-align: center;
  vertical-align: middle;
}
.th .trk img {
  min-width: 103px;
  min-height: 103px;
}
.thpn .item .trk {
  position: relative;
  width: 105px;
}
.thpn .item .trk > .img {
  display: block;
}
.trk .ply-over {
  width: 105px;
  height: 105px;
}
.trk:hover .ply-over {
  display: block;
}
