<div class="pl" style="<%= show ? "" : "display:none;" %>">
  <div class="ctls">
    <div><a class="bt"><i class="icon-step-back"></i></a></div>
    <div><a class="bt"><i class="icon-pause"></i></a></div>
    <div><a class="bt"><i class="icon-step-forward"></i></a></div>
  </div>
</div>
