<% @title = t("label.search") %>
<div class="p30">
<div class=""><%= render "albums/th_pane", :albums => @albums %></div>
<div class="pt10"><%= render "tracks/grid", :tracks => @tracks, :@showTrackAlbum => true %></div>
</div>
<script>
$(document).ready(function() {
  
});
</script>
