<ul class="thpn">
<% albums.each do |album| %>
  <li class="item">
    <div class="disib vat"><%= render "albums/th", :obj => album %></div>
    <div class="disib vat pl10">
      <span class="disbl"><%= link_to album.name, album_path(album) %></span>
      <span class="disbl"><%= album.artist_name %></span>
    </div>
  </li>
<% end %>
</ul>
