<ul class="thpn">
<% albums.each do |album| %><li>
  <a href="<%= album_path(album.uqid) %>">
    <div class="img"><%= image_tag album.artwork_url %></div>
    <div class="ttl"><%= album.name %></div>
    <div class="stxt"><%= album.artist_name %></div>
  </a>
</li><% end %>
</ul>
