<% content_for :page_content do %>
<div class="distb lnav">
  <div class="distc ltnav vat"><div><%= yield(:left_nav) %></div></div>
  <div class="distc w100 vat"><div id="lib_content" class="disbl"><%= yield %></div></div>
</div>
<script>
$(document).bind("ready ajaxComplete", function() {
  $(".lnav-menu").unbind("click");
  $(".lnav-menu").click(function() {
  	jkCommon.loadLeftNavBody($(this));
    jkCommon.setPageTitle($(this).attr("data-title"));
    return false;
  });
});
</script>
<% end %>
<%= render :file => 'layouts/page' %>
